/********************************** Le body ********************************/
body {
    font-family: 'Playfair', serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
}
/****************************LE HEADER************************************************/
header a {
    margin-left: 20px;
}
.navbar-nav .nav-item {
    margin-right: 20px;
}
/****************************LE CONTENU DE LA PAGE D'ACCUEIL*************************/
.accueil {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/illust.webp'); /*lien vers image*/
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    margin: 30px;
}
.accueil h1 {
    font-size: 7rem;
    margin-bottom: 20px;
    font-family: 'Playfair', serif;
    font-style: italic;
    color: #DFA716;
    
    /*background-color: rgba(0, 0, 0, 0.5); /* Fond noir à 50% de transparence */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)); /* Dégradé de noir à blanc */
    padding: 10px 20px; /* Ajoute de l'espace autour du texte */
    display: inline-block; /* Pour que le fond ne s'étende que sous le texte */
    border-radius: 5px; /* Coins légèrement arrondis */
    
    /* Contour autour des lettres */
    text-shadow: 
        1px 1px 2px #000000, /* Ombre noire douce */
        -1px -1px 2px #000000, /* Ombre noire douce dans l'autre direction */
        0px 0px 5px rgba(0, 0, 0, 0.7); /* Lueur subtile autour du texte */
}
.accueil p {
    color: #F7C542;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.6); /* Fond blanc à 70% de transparence */
    padding: 10px 15px; /* Ajoute de l'espace autour du texte */
    border-radius: 5px; /* Coins arrondis pour un aspect moderne */
    font-weight: bold;

    text-shadow: 
        1px 1px 2px #000000, /* Ombre noire douce */
        -1px -1px 2px #000000, /* Ombre noire douce dans l'autre direction */
        0px 0px 5px rgba(0, 0, 0, 0.7); /* Lueur subtile autour du texte */
}
.btn {
    padding: 10px 20px;
    border: 5px solid #25272E;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5); /* Fond blanc à 70% de transparence */
}
.btn:hover {
    background-color: #fff;
    color: #000;
}
/*****************************************A propos***************************************/
.about-section {
    padding: 50px;
    background-color: #222;
    text-align: center;
    color: white;
}
/**************************************CONTACT*******************************************/
.contact-section {
    padding: 60px 20px;
    background-color: #333333;
    color: #fff;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-family: 'Playfair', serif;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
}

.contact-section input::placeholder,
.contact-section textarea::placeholder {
    color: #ccc;
}

.contact-section input:focus,
.contact-section textarea:focus {
    border-color: #f8f9fa;
}

.contact-section button {
    padding: 15px 20px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.contact-section button:hover {
    background-color: #fff;
    color: #000;
}

.contact-section input:hover,
.contact-section textarea:hover,
.contact-section button:hover {
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    .contact-section h2 {
        font-size: 2rem;
    }

    .contact-section form {
        width: 100%;
    }

    .contact-section button {
        font-size: 1rem;
        padding: 12px 15px;
    }
}

/*********************************LE FOOTER****************************************/
.footer {
    color: black;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
}
/***********************************LES FONTS**************************************/
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/**************************PORTFOLIO*********************************************/
/* Styles pour la galerie */

.titre_oeuvre {
    color: #DFA716;
    font-style: italic;
    font-size: 70px;
    text-decoration: underline;
}

.portfolio-section {
    margin-top: 30px;
    padding: 50px;
    text-align: center;
    background-color: #333333;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

/* Cacher les titres et descriptions dans la galerie */
.gallery-item h3,
.gallery-item p {
    display: none; /* Les cacher par défaut */
}

.gallery-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Noir autour pour simuler un mur */
    padding: 15px; /* Ajoute de l'espace entre l'image et le "mur" */
    border: 5px solid #ccc; /* Cadre extérieur gris clair pour le tableau */
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.gallery-item:hover {
    transform: scale(1.05); /* L'image grandit légèrement au hover */
}

.gallery-item img {
    object-fit: cover; /* Assure que les images remplissent bien l'espace défini */
    width: 200px; /* Largeur standard des images */
    height: 200px; /* Hauteur standard des images */
}

.gallery-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 10px solid #fff; /* Cadre blanc autour de l'image */
    background-color: black; /* Couleur beige pour imiter un tableau */
    box-sizing: border-box; /* Assure que le padding ne déborde pas */
}


/* Style pour la lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);/*effet ombre a l'ouverture img grande*/
    z-index: 1000;
    overflow: hidden; /* Assure qu'il n'y a pas de débordement */
}

/* Conteneur principal pour le contenu */
.lightbox-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;
    gap: 20px;
}

/* Image */
/* Assure que l'image s'adapte bien à l'écran sans être coupée */
.lightbox-content img {
    max-width: 90vw; /* Limite à 90% de la largeur de l'écran */
    max-height: 90vh; /* Limite à 90% de la hauteur de l'écran */
    object-fit: contain; /* Préserve les proportions sans rogner l'image */
    display: block;
    margin: auto;
}

/* Texte dans la lightbox */
.lightbox-text {
    max-width: 80%; /* Limite la largeur du texte */
    margin-top: 20px; /* Espace entre l'image et le texte */
    color: white;
    text-align: center;
}

/* Titre (à droite) */
.lightbox-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Description (en dessous) */
.lightbox-text p {
    font-size: 1rem;
    margin-top: 10px;
}

/* Bouton de fermeture */
.lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

/* Afficher les titres et descriptions en mode lightbox */
.lightbox h3,
.lightbox p {
    display: block; /* Les afficher dans la lightbox */
    color: white;
    text-align: center;
    margin: 10px 0;
    font-family: 'Playfair', serif;
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: 1fr; /* Pour que les images s'empilent sur mobile */
    }
}

#body_cucc {
    background-color: black;
    margin: 20px;
    padding-top: 40px;
}